 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(0,0,0,0.25)), url("../images/mZFQqfHAui.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 1074px;
  min-height: 590px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 202px;
  height: 202px;
  background-image: url("../images/descarga.jfif");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -92px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  margin: 15px auto 0;
}

.u-section-1 .u-form-1 {
  height: 438px;
  width: 1042px;
  margin: 10px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.u-section-1 .u-label-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px auto 0;
  padding: 10px 41px 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1281px;
  }

  .u-section-1 .u-group-1 {
    width: 354px;
    min-height: 1087px;
    margin-right: -14px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -5px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(255,255,255,0.25)), url("../images/mZFQqfHAui.jpg");
  background-position: 50% 67.13%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-group-1 {
  width: 1074px;
  min-height: 579px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 57px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 15px auto 0 642px;
}

.u-section-2 .u-text-3 {
  margin: -17px auto 0 120px;
}

.u-section-2 .u-map-1 {
  width: 312px;
  height: 288px;
  margin: -11px auto 0 642px;
}

.u-section-2 .u-map-2 {
  width: 326px;
  height: 288px;
  margin: -270px auto 0 120px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 409px;
  padding: 10px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 198px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -28px;
    margin-left: 60px;
  }

  .u-section-2 .u-map-1 {
    width: 326px;
    margin-top: 7px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-2 .u-map-2 {
    margin-top: -288px;
    margin-left: 60px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    min-height: 859px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 332px;
    margin-right: 348px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -352px;
    margin-left: 196px;
  }

  .u-section-2 .u-map-1 {
    margin-top: 324px;
    margin-right: auto;
  }

  .u-section-2 .u-map-2 {
    margin-top: -612px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 376px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 149px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 30px;
  }

  .u-section-2 .u-map-1 {
    margin-top: 20px;
    margin-right: 46px;
    margin-left: 138px;
  }

  .u-section-2 .u-map-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 57px;
    min-height: 802px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 314px;
    margin-right: 109px;
    margin-left: 56px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -284px;
    margin-left: 58px;
  }

  .u-section-2 .u-map-1 {
    width: 224px;
    height: 224px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-map-2 {
    width: 224px;
    height: 224px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 37px;
    margin-right: 71px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -42px;
    margin-left: 57px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 771px;
}

.u-section-3 .u-group-1 {
  width: 1074px;
  min-height: 579px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 63px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: 61px auto 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 146px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}